.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s ease;
}

.input-field:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

.btn-primary {
    width: 100%;
    padding: 12px;
    background-color: #16a34a;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-primary:hover {
    background-color: #15803d;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    cursor: pointer;
}

/* Dans register.component.css */
.swal2-popup {
  font-family: 'Arial', sans-serif;
}

.swal2-input {
  margin: 1em auto;
  padding: 0.75em;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: none;
}

.swal2-styled.swal2-confirm {
  background-color: #4f46e5;
}

/* Dans votre fichier CSS global ou component */
.swal2-close {
  font-size: 1.5rem;
  color: #718096;
  transition: color 0.2s;
  align-self: flex-start;
  margin-right: -0.5rem;
  margin-top: -0.5rem;
}

.swal2-close:hover {
  color: #e53e3e;
}