.title {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #1a2a6c;
}

.card {
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.card-body {
  padding: 0 20px 20px 20px;
}

table {
  border-radius: 8px;
}

table th, table td {
  vertical-align: middle;
}

table td {
  font-size: 15px;
}

img {
  
  object-fit: cover; /* Maintient le ratio d'aspect sans déformation */
  width: 80px; /* Augmente la taille pour plus de clarté */
  height: 80px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ajoute un ombre légère pour un effet de profondeur */
  border: 2px solid #f0f0f0; /* Ajoute une bordure claire pour les images */
}

img:hover {
  transform: scale(1.05); /* Légère animation de survol pour l'interaction */
  transition: transform 0.3s ease;
}


table .badge {
  padding: 6px 12px;
  font-size: 12px;
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e1e4e8;
}

.modal-body {
  background-color: #f9fafb;
}

textarea.form-control {
  resize: vertical;
}

.modal-footer {
  border-top: 1px solid #e1e4e8;
}

.btn-outline-warning {
  color: #f39c12;
  border-color: #f39c12;
  transition: background-color 0.3s ease;
}

.btn-outline-warning:hover {
  background-color: #f39c12;
  color: #ffffff;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #218838;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f7f8fa;
}



.description {
  font-size: 14px;
  color: #555;
}

.text-primary {
  text-decoration: underline;
  font-weight: bold;
}

.text-primary:hover {
  color: #007bff;
}

span {
  display: inline-block;
  margin-top: 5px;
}

span:hover {
  cursor: pointer;
}
