


  <footer class="footer">
      <div class="footer-content">
          <div class="footer-logo">
              <img src="assets/logo1.png" alt="Logo" class="footer-logo-img" />
          </div>
          <div class="footer-links">
              <a href="#">Politique de confidentialité</a>
              <a href="#">Conditions d'utilisation</a>
              <a href="#">Contact</a>
          </div>
          <div class="footer-social">
              <a href="#" class="footer-social-icon"><i class="fa fa-facebook"></i></a>
              <a href="#" class="footer-social-icon"><i class="fa fa-twitter"></i></a>
              <a href="#" class="footer-social-icon"><i class="fa fa-instagram"></i></a>
          </div>
      </div>
      <div class="footer-bottom">
          <p>&copy; 2025 Votre Entreprise. Tous droits réservés.</p>
      </div>
  </footer>

