<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center" >
  <!-- Logo et bouton toggle -->
  <div class="d-flex align-items-center justify-content-between" (click)="toggle()">
    <div class="logo-container">
      <img src="../../assets/logo.jpg" alt="logo" class="logo-img">
      <h2 class="logo-text">TechFlow</h2>
    </div>
    <i class="bi bi-list toggle-sidebar-btn" (click)="toggleSidebar()"></i>
  </div>

  <!-- Barre de recherche -->
  <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Rechercher..." title="Entrer un mot-clé">
      <button type="submit" title="Rechercher"><i class="bi bi-search"></i></button>
    </form>
  </div>

  <!-- Navigation -->
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
     
      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle" href="#">
          <i class="bi bi-search"></i>
        </a>
      </li>

     
      
      <!-- Profile -->
      <li class="nav-item dropdown pe-3 position-relative" (click)="toggleProfileDropdown($event)">
        <button class="nav-link nav-profile d-flex align-items-center pe-0">
          <h6 class="mb-0 me-2">{{ username }}</h6> <!-- Affichage du nom d'utilisateur -->
          <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle" width="40" height="40">
          <!-- Image du profil -->
          <span class="d-none d-md-block dropdown-toggle ps-2"> </span>
        </button>
        <ul class="dropdown-menu dropdown-menu-start dropdown-menu-end dropdown-menu-arrow profile"
          [class.show]="isProfileDropdownOpen">
          <li class="dropdown-header">
            <h6>{{ username }}</h6>
            <span>{{ userRole }}</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center" routerLink="/profile">
              <i class="bi bi-person"></i>
              <span>Mon Profil</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <i class="bi bi-gear"></i>
              <span>Paramètres</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <i class="bi bi-question-circle"></i>
              <span>Aide</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center" (click)="logout()">
              <i class="bi bi-box-arrow-right"></i>
              <span>Déconnexion</span>
            </a>
          </li>
        </ul>
      </li> 
    </ul>
  </nav>
</header>

<!-- Sidebar -->
<aside id="sidebar" class="sidebar" >
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-heading">Pages</li>

    <li class="nav-item" *ngIf="userRole==='Client'">
      <a class="nav-link collapsed" routerLink="/profile">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="userRole==='Client'">
      <a class="nav-link collapsed" routerLink="/reclamation">
        <i class="bi bi-clipboard"></i>
        <span>Mes réclamations</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="userRole==='Client'">
      <a class="nav-link collapsed" routerLink="/demande">
        <i class="bi bi-tools"></i>
        <span>Interventions</span>
      </a>
    </li>

    <li class="nav-item" >
      <a class="nav-link collapsed" routerLink="/dashboard">
        <i class="bi bi-speedometer2"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="userRole=='ADMIN'  || userRole=='RESPONSABLE_SAV'">
      <a class="nav-link collapsed" routerLink="/reclamation">
        <i class="bi bi-clipboard"></i>
        <span>Gestion des Réclamations</span>
      </a>
    </li>

    <li class="nav-item" >
      <a class="nav-link collapsed" routerLink="/produit">
        <i class="bi bi-box"></i>
        <span>Gestion des produit</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="userRole=='ADMIN'  || userRole=='RESPONSABLE_SAV'">
      <a class="nav-link collapsed" routerLink="/technicien">
        <i class="bi bi-person-badge"></i>
        <span>Gestion des Techniciens</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="userRole=='ADMIN'  || userRole=='RESPONSABLE_SAV'">
      <a class="nav-link collapsed" routerLink="/piece">
        <i class="fas fa-tools"></i>
        <span>Gestion des piece de rechange</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="userRole=='ADMIN'">
      <a class="nav-link collapsed" routerLink="/ResponsableSAV">
        <i class="bi bi-person-badge"></i>
        <span>Les responsable SAV </span>
      </a>
    </li>

    <li class="nav-item" *ngIf="userRole=='RESPONSABLE_SAV'">
      <a class="nav-link collapsed" routerLink="/intervention">
        <i class="fas fa-cogs"></i>
        <span>Gestion des Interventions</span>
      </a>
    </li>



    <li class="nav-item" *ngIf="userRole=='TECHNICIEN'">
      <a class="nav-link collapsed" routerLink="/intervention">
        <i class="bi bi-ticket"></i>
        <span>Mes tickets</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed text-danger" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
        <span>Déconnexion</span>
      </a>
    </li>
  </ul>
</aside>
